<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增文件</title>
    <link rel="stylesheet" th:href="@{/public/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/document/add.css}">
    <script th:src="@{/public/lib/jquery/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/public/lib/layui/layui.js}"></script>
    <script th:src="@{/document/add.js}"></script>

</head>
<body>
<div>
    <form id="document-form" action="">
        <div>
            <label for="title">题目：</label>
            <input type="text" id="title" autocomplete="off" placeholder="请输入题目">
        </div>

        <div>
            <div class="layui-btn-container">
                <button type="button" class="layui-btn layui-btn-normal" id="ID-upload-demo-choose">选择文件</button>
                <button type="button" class="layui-btn" id="ID-upload-demo-action">开始上传</button>
            </div>
        </div>

        <div>
            <label for="createdBy">创建人：</label>
            <input type="text" id="createdBy" autocomplete="off" placeholder="请输入创建人">
        </div>

        <div th:if="${showSubmit}">
            <label></label>
            <button id="submit-btn" type="button">提交</button>
        </div>
    </form>
</div>
</body>

<script>
    layui.use(function(){
        var upload = layui.upload;
        // 渲染
        upload.render({
            elem: '#ID-upload-demo-choose',
            url: '', // 此处配置你自己的上传接口即可
            auto: false,
            // multiple: true,
            bindAction: '#ID-upload-demo-action',
            done: function(res){
                layer.msg('上传成功');
                console.log(res)
            }
        });
    });
</script>
</html>